<div class="row mb-4">
  <div class="col-xs-6 col-sm-8 col-md-9">
    <h2><small>Listado de órdenes</small></h2>
  </div>
  <div class="d-none d-sm-block col-sm-4 col-md-3">
    <div class="d-flex justify-content-end">
      <a routerLink="/order" class="btn btn-success"
        >Crear orden <i class="fa fa-plus"></i
      ></a>
    </div>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-hover text-center">
    <thead>
      <tr>
        <th scope="col"># Orden</th>
        <th scope="col">Estado</th>
        <th scope="col">Valor</th>
        <th scope="col">Entrega</th>
        <th scope="col">Creación</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          <a routerLink="/order-details">dgfh <i class="fa fa-external-link text-info"></i></a>
        </th>
        <td>Reservado</td>
        <td>$ 200000</td>
        <td>Estandar</td>
        <td>2020-02-20</td>
        <td>
          <a routerLink="/order-edit"><i class="fa fa-edit"></i></a>
        </td>
        <td>
          <a href="" class="text-danger"><i class="fa fa-trash"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
