<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="pacman"
  [fullScreen]="true"
  ><p style="color: white;">Cargando...</p></ngx-spinner
>

<div class="row mb-4">
  <div class="col-xs-6 col-sm-8 col-md-9">
    <h2><small>Listado de órdenes</small></h2>
  </div>
  <div class="d-none d-sm-block col-sm-4 col-md-3">
    <div class="d-flex justify-content-end">
      <a routerLink="/order" class="btn btn-success"
        >Crear orden <i class="fa fa-plus"></i
      ></a>
    </div>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-hover text-center">
    <thead>
      <tr>
        <th scope="col"># Orden</th>
        <th scope="col">Estado</th>
        <th scope="col">Valor</th>
        <th scope="col">Entrega</th>
        <th scope="col">Creación</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of orders">
        <th scope="row">
          <a [routerLink]="['/order-details', item.id]"
            >{{ item.order | uppercase }}
            <i class="fa fa-external-link text-info"></i
          ></a>
        </th>
        <td>{{ item.state | titlecase }}</td>
        <td>{{ item.value }}</td>
        <td>{{ item.delivery | titlecase }}</td>
        <td>{{ item.created_at | date: "medium" }}</td>
        <td>
          <a [routerLink]="['/order-edit', item.id]"
            ><i class="fa fa-edit"></i
          ></a>
        </td>
        <td>
          <a (click)="deleteOrder(item.id)" style="cursor: pointer;"
            ><i class="fa fa-trash text-danger"></i
          ></a>
        </td>
      </tr>
      <tr *ngIf="visible">
        <td colspan="7">No hay productos asociados!</td>
      </tr>
    </tbody>
  </table>
</div>
